[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
google-cloud-core = "*"
Flask = "==1.1.1"
google-cloud-datastore = "*"
asana = "*"
flask-httpauth = "*"
google-cloud-logging = "*"

[requires]
python_version = "3.7"
